<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Form to add book, method post -> /books</li>
        <li>Display all books
            <ul>
                <li>link to show route ie /books/4 </li>
                <li>if user has not favorited the book (check object in list)
                    <ul>
                        <li>Display a favorite link</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Logout link get -> a href="/logout"</li>
    </ul>
</body>
</html>