<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>logout link</li>
        <li>display user info</li>
        <li>display book info
            <ul>
                <li>if logged in user == book uploaded 
                    <ul>
                        <li>display form to update title and description</li>
                        <li>display form to delete</li>
                    </ul>
                <li>else display the description</li>
            </ul>
        </li>
        <li>Display the users who have the book in there favorite list
            <ul>
                <li>if user has the book as a favorite
                    <ul>
                        <li>Display an unfavorite link</li>
                    </ul>
                </li>
                <li>else
                    <ul>
                        <li>Display a favorite link</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>