* {
    padding: 0;
    margin: 0;
}

.container {
    width: 970px;
    height: 800px;
    margin: 0 auto;
    /* background-image: url('../images/jsloups.png');
    background-repeat: no-repeat;
    background-size: contain; */
}
.container div {
    /* opacity: .5; */
    border-radius: 15px;
}
.header {
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 950px;
    background-color: green;
}
.left_nav {
    height: 190px;
    width: 170px;
    margin-left: 10px;
    background-color: green;
}
.left_nav ul {
    padding-left: 20px;
}
.left_nav ul, .left_nav p {
    margin-left: 15px;
}
.left_nav p, .left_nav li {
    text-decoration: underline;
}
.main_content {
    height: 420px;
    width: 760px;
    margin-left: 25px;
    background-color: green;
}
.left_nav, .main_content {
    display: inline-block;
    vertical-align: top;
}
.footer {
    height: 50px;
    width: 950px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: green;
}