<h1>Hello {{ title }}</h1>

<div class="container">
    <ul *ngIf="bBoomer">
        <div *ngFor="let user of bBoomer">
            <li >{{ user.name}}</li>
            <button>HEYO!</button>
        </div>
        
    </ul>
    <div class="container">
        <h3>Add User</h3>
        {{ user | json }}
        <form (submit)="onSubmit()" method="post">
            <input [(ngModel)]="user.name" type="text" class="form-control" name="name">
            <button type="submit">Create</button>
        </form>
    </div>
</div>