<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>Quotes</h1>
    <form action="/quotes" method="post">
        <input type="text" name="name" id="">
        <br>
        <input type="text" name="quote" id="">
        <br>
        <button>Add Quote</button>
    </form>
    <hr>
</body>
</html>