<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>hello flask</h1>
    <form action="/pets" method="post">
        <input type="text" name="name" id="">
        <input type="submit" value="Send Pet">
    </form>
</body>
</html>